<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hotelguestwebservice20170329095006.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hotelguestwebservice20170329095006.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HotelGuestWebService20170329095006</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HotelGuestWebService20170329095006</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GuestContext" Order="1" Enabled="False">
          <Destination Path="Data Source=hotelserver01.database.windows.net;Initial Catalog=HotelDB;Persist Security Info=True;User ID=sailor;Password=NHY67ujm;Application Name=EntityFramework" Name="Data Source=hotelserver01.database.windows.net;Initial Catalog=HotelDB;Persist Security Info=True;User ID=sailor;Password=NHY67ujm;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hotel_Guest_WebService.GuestContext, Hotel_Guest_WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GuestBookingViewContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hotel_Guest_WebService.GuestBookingViewContext, Hotel_Guest_WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GuestBookingViewContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GuestContext-Web.config Connection String">
      <ParameterValue>Data Source=hotelserver01.database.windows.net;Initial Catalog=HotelDB;Persist Security Info=True;User ID=sailor;Password=NHY67ujm;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>